.sectionItems{
    margin: 0px 200px 0px 200px;
}

.sectionArticles{
    display: flex;
    flex-direction: column;
    
}
.articleList{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.title{
    margin: 48px 0px 48px 0px;
    font-size: 24px;
    font-family: 'Jura', sans-serif;
}

.titleArticulo{
    position: relative;
    top: 0;
    margin: 16px 100px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 28px;
}


/* Responsive */
@media (max-width:858px){
    
    .title{
        margin: 48px 0px 48px 0px;
        font-size: 20px;
        font-family: 'Jura', sans-serif;
    }
    .sectionItems{
        margin: 0px 20px 0px 20px;
        
    }
    
}