
.articles{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 33vh;
    margin-left: 18px;
    margin-bottom: 40px;
    border: 2px solid #87a3d4;
    border-radius: 16px;
}
.articles:hover{
    transform: scale(1, 1);
    transition: all 0.5s ease;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.224);
    color: black;
}

.img{
    width: 100%;
    height: 23vh;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}
.descriptionArticle{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    
}

.articlesTitle{
    margin: 0 auto ;
    margin-bottom: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
}
.articlesFecha{
    position: absolute;
    display: flex;
    bottom: 0;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

/* Responsive */
@media (max-width:858px){
    .articles{
        width: 200px;
        height: 20vh;
        margin: 5px ;
    }
    .img{
        height: 10vh;
    }
}