.home-page{
    margin: 0 auto;
    margin-bottom: 25px;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
    cursor: default;
    box-shadow: 5px 3px 15px 0.2px rgba(164, 83, 245, 0.299);
}
.Logo{
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    cursor: default;
}
.logoImg{
    width: 400px;
    height: 10vh;
    
}
.other-page{
    margin: 0 auto;
    margin-bottom: 25px;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-shadow: 5px 3px 15px 0.2px rgba(164, 83, 245, 0.299);
}
.other-logo{
    margin-left: auto;
}
.other-img{
    position: absolute;
    left: 0;
    margin-top: 15px;
    margin-left: 200px;
    width: 200px;
}



.aboutme{
    position: relative;
    width: 80px;
    height: 20px;
    top: 16px;
}

.redesSociales{
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 16px;
    margin-right: 200px;
}



