.home-page{
    margin: 0 auto;
    margin-bottom: 25px;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position:fixed;
    top: 0;
    cursor: default;
    box-shadow: 3px 1px 10px 0px rgba(164, 83, 245, 0.299);
    z-index: 1000;
}

.logoImg{
    width: 400px;
    height: 10vh;
    
}
.other-page{
    margin: 0 auto;
    margin-bottom: 25px;
    height: 10vh;
    width: 100%;
    position:fixed;
    display: flex;
    justify-content: flex-end;
    box-shadow: 5px 3px 15px 0.2px rgba(164, 83, 245, 0.299);
    top: 0;
    z-index: 1000;
}
.other-logo{
    margin-left: auto;
}
.other-img{
    position: absolute;
    left: 0;
    margin-top: 15px;
    margin-left: 200px;
    width: 200px;
}

.aboutme{
    position: relative;
    width: 80px;
    height: 20px;
    top: 16px;
    margin-right: 55px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.aboutMeDiv{
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 16px;
    margin-right: 300px;
}

.redesSociales{
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 16px;
    margin-right: 200px;
}

.active{
    border-bottom: solid 2px #83A3D4;
}


.Logo{
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    cursor: default;
    border-bottom: none;
}


.btnMenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.checkBtn{
    cursor: pointer;
    width: 20px;
    display: none;
}
#check{
    display: none;
}

/*RESPONSIVE*/
@media screen and (max-width: 463px) and (min-width: 200px){
    .other-page{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .other-img{
        position:absolute;
        right:80%;
        width: 115px;
        display: flex;
        align-items: center;
        margin-left: 115px;
    }
    .redesSociales img{
        width: 25px;
        height: 15px;
    }
}
@media screen and (max-width: 553px) and (min-width: 463px){
    .other-page{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .other-img{
        position:absolute;
        width: 155px;
        right:80%;
        margin-left: 115px;
    }

}
@media screen and (max-width: 1000px) and (min-width: 857px){
    .other-img{
        position:absolute;
        margin: 10px auto 10px 10px;
        right:100%;
    }
    .redesSociales, .aboutMeDiv{
        right: 0;
        margin:10px auto 10px 10px;
        padding: 0;
    }
}
@media (max-width:858px){
    .home-page, .other-page{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .checkBtn{
        display: block;
        width: 50px;
        margin: 10px 10px 10px 10px;
    }
    .redesSociales{
        right: 0;
        margin: 0 auto;
        padding: 0;
    }
    .aboutMeDiv{
        display: block;
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 21%;
        color: rgb(0, 0, 0);
        margin-top: 6vh;
        padding: 15px;
        transition:all .5s;
        z-index: 1000;
    }
    #check:checked ~ .aboutMeDiv{
        right: -100%;
        display: none; /* Cambia left por right */
    }
    .Logo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .logoImg{
        margin: 0 auto;
        width: 250px;
        height: 10vh;
    }
    
    .aboutme{
        margin-bottom: 25px;
    }
}
