.unicoArticle{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin: 0px 200px 0px 200px;
}
.unicoArtTitle{
    position: relative;
    top: 0;
    margin: 59px 0px 16px 0px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 28px;
    margin-top: 57px;
    
}
.unicoSubtitle{
    position: relative;
    top: 0;
    margin: 34px 0px 26px 0px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    
}
.unicoImg1{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 800px;
    height: 30vh;
}

.unicoParrafo2{
    margin: 23px 0px 28px 0px;
}
.Author{
    position: relative;
    bottom: 0;
    margin-top: 146px;
}

@media screen and (max-width: 510px) and (min-width: 300px){
    .unicoArticle{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin: 0px 10px 0px 10px;
    }
    .unicoArtTitle{
        position: relative;
        top: 0;
        margin: 9px 0px 6px 0px;
        display: flex;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 18px;
        margin-top: 7px;
    }
    .unicoParrafo2, .unicoParrafo1{
        display: flex;
        flex-direction: column;
        margin: 6px 0px 6px 0px;
        align-items: center;
        justify-content: center;
        height: 100%;
        
    }
    
    .unicoImg1{
        width: 150px;
        height: 200px;
        margin-top: 25px;
    }
    .unicoImg2{
        width: 200px;
        height: 150px;
        margin-top: 25px;
    }
    
   
}
@media screen and (max-width: 1200px) and (min-width: 510px){
    .unicoArticle{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin: 0px 10px 0px 10px;
    }
    .unicoArtTitle{
        position: relative;
        top: 0;
        margin: 9px 0px 6px 0px;
        display: flex;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 18px;
        margin-top: 7px;
    }
    .unicoParrafo2, .unicoParrafo1{
        display: flex;
        flex-direction: column;
        margin: 6px 0px 6px 0px;
        align-items: center;
        justify-content: center;
        height: 100%;
        
    }
    .unicoImg1{
        width: 250px;
        height: 300px;
        margin-top: 25px;
    }
    .unicoImg2{
        width: 300px;
        height: 250px;
        margin-top: 25px;
    }
}

